@mixin font($fontname, $filename) {
  @font-face {
    font-family: $fontname;
    src: url(#{'../fonts/'+$filename+'.eot'});
    src:
      url(#{'../fonts/'+$filename+'.eot?#iefix'}) format("embedded-opentype"),
      url(#{'../fonts/'+$filename+'.woff'}) format("woff"),
      url(#{'../fonts/'+$filename+'.svg'}) format("svg"),
      url(#{'../fonts/'+$filename+'.ttf'}) format("truetype");
    font-style: normal;
    font-weight: normal;
  }
}
@font-face {
    font-family: 'somaticrounded';
    src: url('/fonts/somatic-rounded-webfont.eot');
    src: url('/fonts/somatic-rounded-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/somatic-rounded-webfont.woff2') format('woff2'),
         url('/fonts/somatic-rounded-webfont.woff') format('woff'),
         url('/fonts/somatic-rounded-webfont.ttf') format('truetype'),
         url('/fonts/somatic-rounded-webfont.svg#somaticrounded') format('svg');
    font-weight: normal;
    font-style: normal;

}
