.blog{
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  .blog-wrapper{
    height: 3000px;
  }
  .blog-first{
    // background-image: url('https://media.creativemornings.com/uploads/user/avatar/65278/marchemeon_castaway.jpg');
    background-image: url('https://cdn0.vox-cdn.com/thumbor/nJ7SbFl4j5YmYafjifweerrjh9g=/0x82:1575x968/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/49973325/hemeon_1416041897_66.0.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1{
    font-size: 92px;
    // letter-spacing: 40px;
    color: #673AB7;
    position: relative;
    z-index: 2;
    transform: translate3d(-1000%,0,0);
    animation: text 1s cubic-bezier(0.26, 1.48, 0.47, 0.96) forwards 1.25s;
  }
  p{
    color: #fff;
    width: 300px;
    transform: translate3d(-1000%,0,0);
    animation: text 1s cubic-bezier(0.26, 1.48, 0.47, 0.96) forwards 1.6s;
  }
}
