body,
html {
  width: 100%;
  // height: 100%;
  font-family: 'somaticrounded';
  // perspective: 900px;
}
body{
  &.active{
    overflow: hidden;
  }
}
* {
  &::after,
  &::before {
    box-sizing: border-box;
  }
  box-sizing: border-box;
}
img{
  max-width: 100%;
  height: auto;
}
.wrapper {
  background: #fff;
  width: 100%;
  position: relative;
  background-image: url('http://www.nabanane.com.ua/images/bg/main-s-bg.png');
  background-position: center;
  overflow: hidden;
}
// .inner {
//   position: absolute;
//   top: 0;
//   right: 5%;
//   bottom: 0;
//   left: 5%;
// }
.column{
  width: 16.6666%;
  float: left;
  height: 100%;
  border-left: 1px solid rgba(39,39,39,.04);
  // &:last-child{
  //   border-right: 1px solid rgba(39,39,39,.04);
  // }
}
.container{
  // padding: 150px 0 1200px;
  position: relative;
  z-index: 1;
  // perspective: 900px;
}
.section{
  position: relative;
  height: 800px;
}
.block{
  width: 30vw;
  height: 30vw;
  transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  perspective: 900px;
  cursor: pointer;
  position: absolute;
  top:0;
  transition: left 1s cubic-bezier(0.26, 1.48, 0.47, 0.96) 1s, transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96), height 1s cubic-bezier(0.26, 1.48, 0.47, 0.96), width 1s cubic-bezier(0.26, 1.48, 0.47, 0.96) 1s;
  left:450px;
  &.active{
    position: fixed;
    left: 0;
    top: 50%;
    transform:translate3d(0,-50%,0) !important;
    width: 100vw;
    height: 100vh;
    // animation: popup 5s cubic-bezier(0.26, 1.48, 0.47, 0.96) forwards;
    transition: left 1s cubic-bezier(0.26, 1.48, 0.47, 0.96) 3s, transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96), height 1s cubic-bezier(0.26, 1.48, 0.47, 0.96) 2s, width 1s cubic-bezier(0.26, 1.48, 0.47, 0.96) 3s;
    z-index: 3;
  }
  // &.animate{
  //   position: fixed;
  //   top: 50%;
  //   transform:translate3d(0,-50%,0) !important;
  //   transition: transform 0s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  // }
  &:hover{
    .box{
      width: 86%;
      height: 86%;
      margin-left: -43%;
      margin-top: -43%;
      transition: all 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
    }
  }
}
.img{
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  background-image: url('https://media.creativemornings.com/uploads/user/avatar/65278/marchemeon_castaway.jpg');
  // background-image: url('https://cdn0.vox-cdn.com/thumbor/nJ7SbFl4j5YmYafjifweerrjh9g=/0x82:1575x968/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/49973325/hemeon_1416041897_66.0.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  box-shadow: 0 10px 20px rgba(#000,.6);
  cursor: pointer;
  perspective: 900px;
  position: absolute;
  top:0;
  left:0;
  pointer-events: none;
}
.anim-text{
  position: absolute;
  top:50%;
  left:50%;
  font-size: 40px;
  white-space: nowrap;
  letter-spacing: .3em;
  color: #fff;
  margin-left: -35%;
  transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  pointer-events: none;
  mix-blend-mode: exclusion;
  font-family: 'Audiowide', cursive;
}
.box{
  width: 110%;
  height: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -55%;
  margin-left: -55%;
  border:1px solid #fff;
  transition: all 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  opacity: .6;
}
.overlay{
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top:0;
  left:0;
  mix-blend-mode: luminosity;
}

// @keyframes popup {
//   0% {
//
//   }
//   25%{
//     left: 0;
//   }
//   50% {
//     height: 100vh;
//   }
//   75%{
//     width: 100vw;
//   }
//   100% {
//     opacity: .5;
//   }
// }
