.heading-block{
  display: block;
  border:1px solid #000;
}
.heading{
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  h2{
    font-family: 'Audiowide', cursive;
    color: #673AB7;
    font-size: 96px;
    letter-spacing: .1em;
    margin-bottom: 20px;
    text-shadow: 0px 5px 5px rgba(150, 150, 150, 0.71);
    transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  }
  p{
    font-family: 'Comfortaa', cursive;
    color: #292929;
    font-size: 48px;
    letter-spacing: .1em;
    position: relative;
    text-transform: lowercase;
    transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
    &::after{
      content: "";
      display: block;
      width: 36px;
      height: 6px;
      background: #673AB7;
      position: absolute;
      bottom:-15px;
      left:50%;
      margin-left: -18px;
    }
  }
}
