.main {
  width: 1440px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  position: relative;
  // background: #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .social {
    left: auto;
    right: -30px;
    top: 20%;
    transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  }
  .arrow {
    top: auto;
    left: 134px;
    bottom: 90px;
    transition: transform 3s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  }
}
.header {
  transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  h1 {
    font-size: 220px;
    text-transform: uppercase;
    font-family: 'Audiowide', cursive;
    letter-spacing: 0.1em;
    color: #292929;
    margin-right: 20px;
    &:first-of-type {
      margin-right: 100px;
    }
    &:last-of-type {
      text-align: right;
    }
  }
  span {
    color: #673AB7;
  }
}
.button {
  position: absolute;
  top: 50px;
  left: 0;
  font-family: 'Audiowide', cursive;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1em;
  font-size: 16px;
  width: 160px;
  height: 60px;
  line-height: 60px;
  background: #673AB7;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  transition: background .2s ease-in-out;
  transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96), background .4s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  &:hover{
    background: darken(#673AB7, 20%);
    transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96), background .4s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  }
}
.team{
  transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  img{
    width: 300px;
    margin: 0 auto;
    display: block;
    margin-bottom: 60px;
  }
  &__title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #292929;
  }
  &__subtitle{
    font-size: 18px;
    text-align: center;
    color: #292929;
  }
}
.text-bottom{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom:20px;
  left:0;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  span{
    display: block;
    margin: 0 10px;
    transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  }
}
