.menu {
  position: fixed;
  top: 0;
  right: 5%;
  width: 1px;
  height: 100%;
  z-index: 10;
  &__block {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    background: #fff;
    border-radius: 50%;
    &::before {
      content: "";
      display: block;
      width: 3px;
      height: 5vh;
      background: #fff;
      position: absolute;
      top: -5vh;
      left: 50%;
      margin-left: -1px;
    }
    &::after {
      content: "";
      display: block;
      width: 3px;
      height: 5vh;
      background: #fff;
      position: absolute;
      bottom: -5vh;
      left: 50%;
      margin-left: -1px;
    }
  }
  &__icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgba(39,39,39,.04);
    // border:4px solid #673ab7;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    cursor: pointer;
  }
  &__burger {
    width: 20px;
    height: 2px;
    background: #292929;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background: #292929;
      position: absolute;
      top: 6px;
      left: 0;
    }
    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background: #292929;
      position: absolute;
      bottom: 6px;
      left: 0;
    }
  }
  &__circle {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(-90deg) scale(1);
    transition: all 2s cubic-bezier(0.26, 1.48, 0.47, 0.96);
    &:hover {
      transform: translate3d(-50%, -50%, 0) rotate(-90deg) scale(1);
      transition: all 2s cubic-bezier(0.26, 1.48, 0.47, 0.96);
      .path {
        stroke: #673ab7;
        stroke-dashoffset: 0;
        transition: all 2s cubic-bezier(0.26, 1.48, 0.47, 0.96);
      }
    }
  }
  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 187;
    transform-origin: center;
    transition: all 2s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  }
  &__line {
    width: 1px;
    height: 100%;
    position: relative;
    background: rgba(39,39,39,.04);
  }
  &__progress {
    width: 3px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -1px;
    // background: rgba(39,39,39,.1);
    background: #673ab7;
    transition: height 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
  }
}
