.number__block{
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 17%;
  transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
}
.num {
  width: 70px;
  height: 115px;
  transform-style: preserve-3d;
  transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
}
div[class*="number-"] {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 120px;
  font-weight: bold;
  color: darken(#673ab7,20%);
  // text-shadow: 1px -1px 0 #000, -1px 1px 0 #000;
}
body div .number-0,
body div .number-24{
  color: #673ab7;
  text-shadow: 0 0 2px #673ab7, 0 0 1px #673ab7

}
@for $i from 0 through 24 {
  .number-#{$i} {
    transform: translate3d(-50%,0,#{$i}px);
  }
}
