.description {
  width: 400px;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  position: absolute;
  top: 230px;
  right: 430px;
}
.title {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Audiowide', cursive;
  margin-bottom: 10px;
  position: relative;
  width: 250px;
  height: 20px;
  overflow: hidden;
  .text-animate {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    color: #282828;
    transform: translate3d(-100%,0,0);
  }
  .bg-animate {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #673AB7;
    transform: translate3d(-100%,0,0);
  }
  &.animate {
    .text-animate {
      animation: text 1s cubic-bezier(0.26, 1.48, 0.47, 0.96) 0.6s forwards;
    }
    .bg-animate {
      animation: bg 1s cubic-bezier(0.26, 1.48, 0.47, 0.96) forwards;
    }
  }
}
.text {
  line-height: 28px;
  position: relative;
  width: 450px;
  height: 50px;
  overflow: hidden;
  .text-animate {
    width: 450px;
    padding-right: 50px;
    position: absolute;
    top: 0;
    left: 0;
    color: #282828;
    transform: translate3d(-100%,0,0);
  }
  .bg-animate {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fedc2e;
    // background: darken(#673AB7,20%);
    transform: translate3d(-100%,0,0);
  }
  &.animate {
    .text-animate {
      animation: text 1s cubic-bezier(0.26, 1.48, 0.47, 0.96) 0.6s forwards;
    }
    .bg-animate {
      animation: bg 1s cubic-bezier(0.26, 1.48, 0.47, 0.96) forwards 0.25s;
    }
  }
}
.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 230px;
  a {
    display: block;
  }
}
.site-block{
  transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
}
.site {
  height: 20px;
  width: 254px;
  overflow: hidden;
  font-family: 'Audiowide', cursive;
  fill: #673AB7;
  font-size: 16px;
  letter-spacing: .1em;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top:0;
  right:0;
  transform-origin: center;
  transform: rotate(90deg);
  top: 100px;
  right: 150px;
}
.arrow{
  width: 15px;
  position: absolute;
  top:444px;
  right: 270px;
  transition: transform 1s cubic-bezier(0.26, 1.48, 0.47, 0.96);
}
@keyframes bg {
  0% {
    transform: translate3d(-100%,0,0);
  }
  50% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(120%,0,0);
  }
}
@keyframes text {
  0% {
    transform: translate3d(-100%,0,0);
  }
  50% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
