head
  meta(charset="UTF-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Title
  link(href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&amp;subset=cyrillic,cyrillic-ext", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet")
  link(href="/components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css", rel="stylesheet")
  link(href="/css/index.css", rel="stylesheet")
