extends ./layouts/_layout.pug
block content
  .wrapper
    .menu
      .menu__line
        .menu__progress
      .menu__block
        .menu__icon
          .menu__burger
          svg.menu__circle(viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg")
            circle.path(fill="none" stroke-width="3" stroke-linecap="round" cx="33" cy="33" r="30")
    .inner
      - var i = 0
      while (i < 6)
        .column
        - i++
    //- .overlay
    .main.wrap-animate
      .arrow(data-translate="-.005")
        img(src="/data/arrow.png")
      .text-bottom
        span(data-translate=".38") T
        span(data-translate=".42") h
        span(data-translate=".38") e
        span(data-translate=".42") &nbsp;
        span(data-translate=".38") n
        span(data-translate=".425") o
        span(data-translate=".38") n
        span(data-translate=".42") &nbsp;
        span(data-translate=".4") c
        span(data-translate=".38") o
        span(data-translate=".42") n
        span(data-translate=".38") f
        span(data-translate=".42") e
        span(data-translate=".38") r
        span(data-translate=".42") e
        span(data-translate=".38") n
        span(data-translate=".42") c
        span(data-translate=".38") e
      .button(data-translate=".1") sold out!
      .team(data-translate=".6")
        img(src="http://image.flaticon.com/icons/svg/270/270024.svg")
        .team__title PARK CITY
        .team__subtitle FEBRUARY 8 — 12 4 EPIC DAYS
      .header(data-translate=".5")
        h1 space
        h1
          | 20
          span 16
      .social(data-translate=".6")
        a(href="#")
          img(src="http://e03.epicurrence.com/images/icon-twitter.svg")
        a(href="#")
          img(src="http://e03.epicurrence.com/images/icon-facebook.svg")
        a(href="#")
          img(src="http://e03.epicurrence.com/images/icon-instagram.svg")
    .container
      .section.wrap-animate
        .block(data-translate=".8")
          .img(data-deformation="10")
          p.anim-text(data-deformation="30") Marc Hemeon
          .box(data-deformation="16")
        .number__block(data-translate=".65")
          .num(data-rotate=".25")
            - var n = 0
            while n < 25
              div(class="number-"+n) 0
              - n++
          .num(data-rotate=".25")
            - var n = 0
            while n < 25
              div(class="number-"+n) 1
              - n++
        .description
          .title
            .text-animate Fashion statement
            .bg-animate
          .text
            .text-animate While working on Creative Wallonia, our design team designed so many different print media that we lost track
            .bg-animate
        .social
          a(href="#")
            img(src="http://e03.epicurrence.com/images/icon-twitter.svg")
          a(href="#")
            img(src="http://e03.epicurrence.com/images/icon-facebook.svg")
          a(href="#")
            img(src="http://e03.epicurrence.com/images/icon-instagram.svg")
        .arrow(data-translate="-.1")
          img(src="/data/arrow.png")
        .site-block(data-translate=".2")
          a(href="#").site
            svg
              text(x="0" y="15") www.hemeon-design.com
      .heading-block.wrap-animate
        .heading(data-translate=".45")
          h2 10
          p SPEAKERS
